{% extends 'base.html.twig' %}
{% block stylesheets %}
        {{ parent() }}

{% endblock %}
{% block body %}
<div class="container">
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h1 class="display-4">Курсовые работы</h1>
                <p class="lead">Выберите курсовую работы для прохождения антиплагиата.</p>
        </div>
        <div class="row justify-content-md-center">
                <div class="col-md-auto">
                        <div class="card-deck mb-3 text-center">
                                <div class="card mb-4 box-shadow">
                                        <div class="card-header">
                                                <h4 class="my-0 font-weight-normal">Курсовая №1</h4>
                                        </div>
                                        <div class="card-body">
                                                <ul class="list-unstyled mt-3 mb-4">
                                                        <li>Курс 1</li>
                                                        <li>Семестр 2</li>
                                                        <li>Информация</li>
                                                        <li>Описание</li>
                                                </ul>
                                                <button type="button" class="btn btn-lg btn-block btn-primary">Пройти</button>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>
{% endblock %}
